* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(0, 0%, 100%);
    font-family: messina-sans;
    /* margin: 0; */
}

/* & Header part css begins here */
 
.discovery-head {
    padding: 60px 200px 10px 200px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    /* left: 0; */
    pointer-events: none;
    position: absolute;
    top: -70px;
    width: 100%;
    /* z-index: 1000; */
}
.discovery-head-logo {
    cursor: pointer;
    /* display: block; */
    pointer-events: all;
    position: relative;
    /* z-index: 2; */
}

.discovery-head-logo img {
    width: 175px;
}

 .discovery-head-nav {
    /* align-items: center;
    display: flex;
    justify-content: flex-end;
    pointer-events: all; */
    position: relative;
    /* z-index: 2;
    display: none; */
} 
.discovery-head-nav ul {
    gap: 80px;
    display: flex;
}

.discovery-head-nav ul li {
    /* overflow: hidden; */
    position: relative;
}

.discovery-head-nav ul li a {
    color: white;
    text-decoration: none;
    /* font-size: .9rem; */
    font-size: 20px;
}

/* & Header part css ended */

.gallery-main {
    background-color: #111;
}

/* ! Middle gallery section's css begins*/
.gallery-main-article-div {
    /* align-items: center;
    display: flex;
    height: 65vh;
    overflow: hidden;
    position: relative; */
    /* grid-gap: 4.5rem 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr); */
    padding: 15rem 1rem 6rem;
    position: relative;
    /* z-index: 5; */
}
.galleries-items-div {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.galleries-items {
    /* display: block; */
    width: 24.33%;
    padding-bottom: 70px;
}
.galleries-items a {
    text-decoration: none;
}

.galleries-items-figure {
    /* overflow: hidden; */
    /* padding-top: 65%; */
    position: relative;
}

.galleries-items-figure img {
    /* height: 100%;
    left: 0; */
    /* object-fit: cover; */
    /* position: absolute; */
    /* top: 0; */
    width: 100%;
}
.galleries-items-tile {
    color: #fff;
    /* font-family: messina-sans; */
    font-size: .85rem;
    line-height: 1.1;
    margin-top: 1rem;
    text-transform: uppercase;
}
.galleries-items-para{
    color: #777;
    line-height: 1.3;
    margin-top: .25rem;
    font-size: .9rem;

}
/* ! Middle gallery section's css ends*/
/* * Footer css begins*/

.discovery-footer {
    background-color: #161f1e;
    position: relative;
    padding: 0 166.50px 0 166.500px;
}
.discovery-footer-div {
    margin-left: auto;
    margin-right: auto;
    max-width: 90rem;
    /* width: 100%; */
}
.discovery-footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 137px;
    padding-bottom: 137px;   
}

.discovery-footer-content img {
    width: 50px;
}
.discovery-nav-content {
    display: flex;
}
.discovery-nav-menu h4 {
    color: hsla(0, 0%, 100%, .75);
    font-family: messina-sans;
    font-size: .7rem;
    letter-spacing: -.01em;
    margin-bottom: .75rem;
    text-transform: uppercase;
    /* width: 100%; */
}
.discovery-first-list{
    list-style: none;
    margin-bottom: 10px;
   
}
.discovery-first-list li {
    font-size: .9rem;
    line-height: 2;
}

.discovery-first-list li a {
    color: #fff;
}
.discovery-second-list a {
    color: #fff;
}


.discovery-about {
    display: flex;
    flex-wrap: wrap;
    margin-left: 166px;
}
.discovery-about-main{
    list-style: none;
}
.discovery-about-main li a {
    color: #fff;
    /* text-decoration: none; */
}
.about-main-list {
    font-size: .9rem;
    line-height: 2;
    margin-bottom: .25rem;
}
.discovery-about-sub{
    list-style: none;
    margin-left: 84px;
    margin-right: 11px;
}
.discovery-about-sub li a {
    color: #fff;
    text-decoration: none;
}
/* & footer bottom css begin*/

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 65px;
}
.footer-bottom-copyright{
    font-size: .75rem;
    color: hsla(0, 0%, 100%, .75);
}
.site-by-outpost a{
    text-decoration: none;
    color: #fff;
    font-size: .75rem;
}
/* & footer bottom css ends*/
/* * Footer css ends*/